{% extends "base.html" %}

{% block content %}

<div class="bg-primary text-white rounded-4 py-4 px-5 mb-5">

    <h1>Welcome to CloudCart</h1>

    <p>
        Shop the latest electronics at the best prices.
    </p>
    <br>
<div class="row text-center mb-5">

<div class="col-md-4">

<h3>🚚</h3>

<h5>Fast Delivery</h5>

<p>Delivered across India</p>

</div>

<div class="col-md-4">

<h3>🔒</h3>

<h5>Secure Payment</h5>

<p>100% Safe Transactions</p>

</div>

<div class="col-md-4">

<h3>⭐</h3>

<h5>Quality Products</h5>

<p>Trusted Brands</p>

</div>

</div>
</div>
{% if recommendations %}

<div class="mb-5">

    <h2 class="mb-4">
        Recommended For You
    </h2>

    <div class="row">

        {% for product in recommendations %}

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">

            <div class="card shadow-sm h-100 border-0 rounded-4">

                <a href="/product/{{ product[0] }}"
                   class="text-decoration-none text-dark">

                    <img src="{{ s3_bucket }}/{{ product[4] }}"
                         class="card-img-top p-3 product-image">

                    <div class="card-body">

                        <h5 class="fw-bold">
                            {{ product[1] }}
                        </h5>

                        <p class="text-warning mb-2">
                            ★★★★☆
                            <span class="text-dark">4.5</span>
                        </p>

                        <h4 class="text-success fw-bold">
                            ₹{{ product[3] }}
                        </h4>

                    </div>

                </a>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endif %}

<div id="products" class="d-flex justify-content-between align-items-center mb-4">

    <h2>Products</h2>

    <form method="GET">

        <select
            name="sort"
            class="form-select"
            onchange="this.form.submit()">

            <option value="">Sort By</option>

            <option value="low">
                Price : Low → High
            </option>

            <option value="high">
                Price : High → Low
            </option>

            <option value="az">
                Name : A → Z
            </option>

            <option value="za">
                Name : Z → A
            </option>

        </select>

    </form>

</div>




<div class="row">

{% for product in products %}

<div class="col-lg-4 col-md-6 mb-4">

    <div class="card shadow-sm h-100 border-0 rounded-4">

    <a href="/product/{{ product[0] }}"
       class="text-decoration-none text-dark">

        <img src="{{ s3_bucket }}/{{ product[4] }}"
         class="card-img-top p-3 product-image">

        <div class="card-body">
            

            <h5 class="fw-bold">
                {{ product[1] }}
            </h5>

            <p class="text-warning mb-2">
                ★★★★☆ <span class="text-dark">4.5</span>
            </p>

           

            <h4 class="text-success fw-bold">
                ₹{{ product[3] }}
            </h4>
        
        </div>

    </a>

    <div class="card-footer bg-white border-0">

        {% if product[5] > 0 %}

        <a href="/add-to-cart/{{ product[0] }}"
           class="btn btn-primary w-100">

            Add To Cart

        </a>

        {% else %}

        <button class="btn btn-secondary w-100" disabled>

            Out Of Stock

        </button>

        {% endif %}

    </div>

</div>

</div>

{% endfor %}

</div>
{% if total_pages > 1 %}

<nav class="mt-4 mb-5">

    <ul class="pagination justify-content-center">

        {% if page > 1 %}

        <li class="page-item">

            <a class="page-link"
               href="?page={{ page - 1 }}{% if sort %}&sort={{ sort }}{% endif %}">

                ← Previous

            </a>

        </li>

        {% endif %}


        {% for p in range(1, total_pages + 1) %}

        <li class="page-item {% if p == page %}active{% endif %}">

            <a class="page-link"
               href="?page={{ p }}{% if sort %}&sort={{ sort }}{% endif %}">

                {{ p }}

            </a>

        </li>

        {% endfor %}


        {% if page < total_pages %}

        <li class="page-item">

            <a class="page-link"
               href="?page={{ page + 1 }}{% if sort %}&sort={{ sort }}{% endif %}">

                Next →

            </a>

        </li>

        {% endif %}

    </ul>

</nav>

{% endif %}
{% endblock %}

